body {
  font: 12px sans-serif;
  margin: 20px;
  /* dark mode background */
  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-family: system-ui;
}
body a {
  color: var(--figma-color-text-link);
}
body a:hover {
  color: var(--figma-color-bg-component);
}

button {
  border-radius: 5px;
  background-color: var(--figma-color-bg-secondary);
  color: var(--figma-color-text-secondary);
  border: none;
  padding: 10px 18px;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
}
#create {
  box-shadow: none;
  font-size: 14px;
  background-color: var(--figma-color-bg-component);
  color: var(--figma-color-text-oncomponent);
  display: flex;
  align-items: center;
  gap: 8px;
}
#create:hover {
  background-color: var(--figma-color-bg-component-hover);
}
#create:active {
  background-color: var(--figma-color-bg-component-focus);
}

#goBack {
  box-shadow: none;
  font-size: 14px;
  background-color: var(--figma-color-bg-secondary);
  color: var(--figma-color-text-secondary);
  display: flex;
  align-items: center;
  gap: 8px;
}
#goBack:hover {
  background-color: var(--figma-color-bg-component-hover);
}
#goBack:active {
  background-color: var(--figma-color-bg-component-focus);
}
input {
  border: none;
  outline: none;
  padding: 8px;
}
input:hover {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}
button:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}
#create:focus {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.3);
}
input:focus {
  box-shadow: inset 0 0 0 2px #18a0fb;
}


.header {
  text-align: center;
}
.header img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.top, .bottom {
  width: 100%;
}

.content {
  font-size: 14px;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabs-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.tab {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  font-size: 13px;
  cursor: pointer;
  background-color: var(--figma-color-bg);
  user-select: none;
}

.tab:hover {
  opacity: 0.8;
}

.tab-logo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--figma-color-bg-onselected);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.tab svg {
  font-size: 18px;
}

.tab.selected {
  background-color: var(--figma-color-bg-selected);
}

.tab[data-id='angular'].selected .tab-logo {
  background-color: #C3002F; /* Angular Red */
}

.tab[data-id='react'].selected .tab-logo {
  background-color: #61DAFB; /* React Blue */
  color: #000;
}

.tab[data-id='flutter'].selected .tab-logo {
  background-color: #02569B; /* Flutter Blue */
}

.tab[data-id='typescript'].selected .tab-logo {
  background-color: #3178C6; /* TypeScript Blue */
}

.tab[data-id='css'].selected .tab-logo {
  background-color: #264de4; /* CSS Blue */
  color: #fff;
}


.code-container {
  position: relative;
  height: 455px;
  overflow: auto;
  transition: 0.5s all ease-in-out;
}
.code-container:hover {
  box-shadow: 1px 2px 6px #0000009c;
}

.copyButton {
  opacity: 0.5;
  margin: 0;
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  left: 4px;
}

.copyButton:hover {
  opacity: 1;
}

.fullSizeButton {
  opacity: 0.8;
  margin: 0;
  padding: 2px 4px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 4px;
  right: 4px;
}

.fullSizeButton:hover {
  opacity: 1;
}

.variantProps svg {
  font-size: 22px;
}

.custom-table {
  width: 100%;
  font-family: monospace;
}

.custom-table thead tr, .custom-table thead th {
  padding: 15px 0;
  border-top: none;
  border-bottom: none !important;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .2rem; }
.custom-table tbody th, .custom-table tbody td {
  color: #777;
  font-weight: 400;
  padding: 12px 18px;
  font-weight: 300;
  font-size: 13px;
  line-height: 22px;
  border: none;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .custom-table tbody th small, .custom-table tbody td small {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300; }
  .custom-table tbody th a, .custom-table tbody td a {
    color: rgba(255, 255, 255, 0.3); }
    .custom-table tbody th a, .custom-table tbody td a:hover {
      color: var(--figma-color-bg-component); }
  .custom-table tbody th .more, .custom-table tbody td .more {
    color: rgba(255, 255, 255, 0.3);
    font-size: 11px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: .2rem; }
.custom-table tbody tr {
  background: #0000001f;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .custom-table tbody tr:hover td, .custom-table tbody tr:focus td {
    color: var(--figma-color-text); }

    .custom-table svg {
      font-size: 20px;
    }
.component-content {
  padding: 0 12px;
  height: 550px;
  overflow: auto;
}

.component-content h3 {
  margin-top: 40px;
}

.resize-handle {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  cursor: nwse-resize;
}

.alert {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0;
  border-left: 5px solid #ff4757;
}

.alert span {
  background: #4b4b4b;
  padding: 0 7px;
  font-family: monospace;
}

.alert.success {
  border-left-color: var(--figma-color-bg-success);
}

.alert.component {
  border-left-color: var(--figma-color-bg-component);
}

.alert h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.alert p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}
.component-info svg {
  font-size: 20px;
}

.component-info svg path {
  fill: var(--figma-color-text);
}
